[submodule "wgpu_renderer"]
	path = wgpu_renderer
	url = https://github.com/FirePrincess01/wgpu_renderer.git
[submodule "piston_collada"]
	path = piston_collada
	url = https://github.com/FirePrincess01/piston_collada.git
